@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather&family=Nunito+Sans:opsz@6..12&family=Roboto&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Lora", serif;
}

body {
    background-color: peru;
}

.singlemeal {
    width: 250px;
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    z-index: 1;
    /* position:relative; */
}
.cross-icon{
    cursor:pointer;
    display:flex;
    justify-content: flex-end;
    margin:8px;
}
.meal-name {
    text-align: center;
}
.recipe{
    border:1px solid white;
    border-radius:8px;
    padding-bottom:5px;
    height:400px;
}
.hide{
    display:none;
}
.recipe-detail{
    border:1px solid white;
    border-radius:8px;
    padding-bottom:5px;
    width:90%;
    background-color: rgb(233, 106, 83);
  position: absolute;
  top:15%;
    z-index:2; 
}


.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.meal-name1{
    text-align:left;
}
.image-div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

#btn {
    margin-left: 5px;
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-recipe {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: rgb(233, 191, 221);
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row
}

form {
    width: 500px;
    font-weight: bold;
    position:sticky;
    font-size: 15px;
    background-color: rgb(233, 106, 83);
    border-radius: 10px;
    border:1px solid white;
    height: 300px;
    z-index: 2;
    position:fixed;
    top: 20%;
    left: 30%;
}

form label {
    margin: 15px;
}

form input[type="text"] {
    padding: 7px;
    width: 250px;
    border-radius: 10px;
    margin: 10px;
}
form input[type="url"] {
    padding: 7px;
    width: 250px;
    border-radius: 10px;
    margin: 10px;
}
.recipe-form{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:560px;
    width: 80%;
    /* font-weight: bold; */
    /* position:sticky; */
    font-size: 15px;
    background-color: rgb(233, 106, 83);
    border-radius: 10px;
    border:1px solid white;
    z-index: 2;
    /* position:fixed; */
    top: 5%;
    left: 10%;
}
#addIngredient{
    width:30px;
}
#addMeasurement{
    width:30px;
}
.addcross-icon{
    cursor:pointer;
    margin-right: 2px;
}